<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Examples</title>
  <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no'/>
  <link href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/github.min.css" rel="stylesheet"/>
  <link href="./github-markdown-light.css" rel="stylesheet" />
  <style>
    main {
      /* 防止保存pdf时背景色丢失 */
      -webkit-print-color-adjust: exact;
    }
  </style>
</head>
<body>
<main class="markdown-body">js-content-placeholder</main>
</body>
</html>